<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="3" align="center"cellspacing="5" cellpadding="5">
	    <tr>
			<th colspan="2">Registration Form</th>
		</tr>

		<tr>
			<td><label>Student name</label></td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td><label>Father's name</label></td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td><label>Mother's name</label></td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td><label>Date of Birth</label></td>
			<td><input type="Date"></td>
		</tr>
		<tr>
			<td><label>Gender</label></td>
			<td><input type="radio"name="ee">Male</input>
			<input type="radio"name="ee">Female</input></td> 
		</tr>
		<tr>
			<td><label>Email ID</label></td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td><label>Mobile No.</label></td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td><label>Address</label></td>
			<td><textarea rows="3" cols="23"></textarea></td>
		</tr>
		<tr>
			<td><label>State</label></td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td><label>City</label></td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="Submit">
		</tr>
				
	</table>
</body>
</html>